# РК 2 Федотов А.Н. ИУ5-64Б
* Вариант 12

In [172]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [173]:
data = pd.read_csv('dc-wikia-data.csv')
data.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [174]:
data.nunique ()

page_id             6896
name                6896
urlslug             6896
ID                     3
ALIGN                  4
EYE                   17
HAIR                  17
SEX                    4
GSM                    2
ALIVE                  2
APPEARANCES          282
FIRST APPEARANCE     774
YEAR                  79
dtype: int64

In [175]:
#data = data.dropna()
#data = data.fillna(0)

In [176]:
data = data[data.index < 100000]
data.isnull().sum()

page_id                0
name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

In [177]:
data = data.drop(columns=['name','urlslug','FIRST APPEARANCE','page_id','ID'])
data.head()

,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,YEAR
0,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,1939.0
1,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,1986.0
2,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,1959.0
3,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,1987.0
4,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,1940.0

In [178]:
data['ALIGN'] = LabelEncoder().fit_transform(data['ALIGN'])
data['EYE'] = LabelEncoder().fit_transform(data['EYE'])
data['HAIR'] = LabelEncoder().fit_transform(data['HAIR'])
data['SEX'] = LabelEncoder().fit_transform(data['SEX'])
data['GSM'] = LabelEncoder().fit_transform(data['GSM'])
data['ALIVE'] = LabelEncoder().fit_transform(data['ALIVE'])

data.head()

   ALIGN  EYE  HAIR  SEX  GSM  ALIVE  APPEARANCES    YEAR
0      1    3     0    2    2      1       3093.0  1939.0
1      1    3     0    2    2      1       2496.0  1986.0
2      1    4     3    2    2      1       1565.0  1959.0
3      1    4    16    2    2      1       1316.0  1987.0
4      1    3     0    2    2      1       1237.0  1940.0

In [179]:
data = data.fillna(0)
TARGET_KEY = 'APPEARANCES'
X_data, y_data = data.drop(columns=[TARGET_KEY]), data[[TARGET_KEY]]
X_test, X_train, y_test, y_train = train_test_split(X_data, y_data)

In [180]:
lr = LinearRegression()
lr.fit(X_train, y_train)
lr_pred = lr.predict(X_test)
lr_pred

array([[22.65485628],
       [22.72825868],
       [ 5.68412369],
       ...,
       [ 4.73710066],
       [31.23913695],
       [ 9.13162196]])

In [181]:
gb = GradientBoostingRegressor()
gb.fit(X_train, y_train)
gb_pred = gb.predict(X_test)
gb_pred

D:\education\PONIRS\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([ 2.21214353, 10.25477047, -2.57989236, ...,  5.05906221,
        6.41093826, 12.28434872])

In [182]:
lr_mae = mean_absolute_error(y_test, lr_pred)
gb_mae = mean_absolute_error(y_test, gb_pred)

In [183]:
lr_r2 = r2_score(y_test, lr_pred)
gb_r2 = r2_score(y_test, gb_pred)

In [184]:
pd.DataFrame.from_dict({
    'LR': {
        'MAE': round(lr_mae, 5),
        'R2': f'{round(lr_r2 * 100, 3)}%'
    },
    'GB': {
        'MAE': round(gb_mae, 5),
        'R2': f'{round(gb_r2 * 100, 3)}%'
    }
})

           LR        GB
MAE  25.33328  22.57314
R2     3.278%   11.773%